---
import '../styles/BlogPost.css';
const { post } = Astro.props;
---

<article>
  <h2>{post.postTitle}</h2>
  <p><small>{post.date}</small></p>
  <div set:html={post.body.html} />
  <div class="photos">
    {post.photos.map((photo) => (
      <img src={photo.url} alt={photo.alt ? photo.alt : `Photo from ${post.postTitle}`} />
    ))}
  </div>
</article>
